:root {
  /* colors */
  --color-primary: #000;
  --color-secondary: #fff;
  --color-tertiary: #fbfbfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}
