.button {
  font-family: 'Oxygen Mono', monospace;
  font-size: 12px;
  padding: 14px 20px;
  background-color: transparent;
  border: 0.5px solid transparent;
  height: 44px;

  cursor: pointer;
}

.buttonPrimary {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.buttonSecondary {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.buttonPrimary:hover {
  text-decoration: underline;
}

.buttonSecondary:hover {
  border: 0.5px solid var(--color-primary);
}

.buttonMultiSelect {
  padding: 10px 20px;
  background-color: var(--color-tertiary);
}

.buttonMultiSelectChecked {
  border: 0.5px solid var(--color-primary);
  background: var(--color-secondary);
}
